GestionVacacionesUnitec/GestionVacacionesUnitec/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talentoH" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaIngreso" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaCreacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="LogInUsuarioResult" nillable="true" type="q3:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogIn2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarRolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_Permiso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_rol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_permiso" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rol_PermisoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Departamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Talento_Humano" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion_departamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_DepartamentoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Rol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Talento_Humano" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion_rol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_RolResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuario2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInUsuario2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="LogInUsuario2Result" nillable="true" type="q4:tbl_usuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="ListaDeDepartamentosResult" nillable="true" type="q5:ArrayOftbl_departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="ListaDeRolesResult" nillable="true" type="q6:ArrayOftbl_roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeRolesPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talento_humano" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaDeRolesPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" minOccurs="0" name="ListaDeRolesPorUsuarioResult" nillable="true" type="q7:ArrayOftbl_roles" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>