GestionVacacionesUnitec/GestionVacacionesUnitec/Service References/ServiceReference1/WcfServiceLibrary_sjb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary_sjb" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha_Creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fecha_Ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ListaDePermisos" nillable="true" type="tns:ArrayOftbl_permisos" />
      <xs:element minOccurs="0" name="ListaDeRoles" nillable="true" type="tns:ArrayOftbl_roles" />
      <xs:element minOccurs="0" name="Primer_Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Primer_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segundo_Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Segundo_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Talento_Humano" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOftbl_permisos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_permisos" nillable="true" type="tns:tbl_permisos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_permisos" nillable="true" type="tns:ArrayOftbl_permisos" />
  <xs:complexType name="tbl_permisos">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="permisosid" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_roles" nillable="true" type="tns:ArrayOftbl_roles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_permisos" nillable="true" type="tns:tbl_permisos" />
  <xs:complexType name="ArrayOftbl_roles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_roles" nillable="true" type="tns:tbl_roles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_roles" nillable="true" type="tns:ArrayOftbl_roles" />
  <xs:complexType name="tbl_roles">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rolesid" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_permisos" nillable="true" type="tns:ArrayOftbl_permisos" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:ArrayOftbl_usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_roles" nillable="true" type="tns:tbl_roles" />
  <xs:complexType name="ArrayOftbl_usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_usuarios" nillable="true" type="tns:ArrayOftbl_usuarios" />
  <xs:complexType name="tbl_usuarios">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_creacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_calendario" nillable="true" type="tns:ArrayOftbl_calendario" />
      <xs:element minOccurs="0" name="tbl_calendario1" nillable="true" type="tns:ArrayOftbl_calendario" />
      <xs:element minOccurs="0" name="tbl_departamento" nillable="true" type="tns:ArrayOftbl_departamento" />
      <xs:element minOccurs="0" name="tbl_jerarquia" nillable="true" type="tns:ArrayOftbl_jerarquia" />
      <xs:element minOccurs="0" name="tbl_jerarquia1" nillable="true" type="tns:ArrayOftbl_jerarquia" />
      <xs:element minOccurs="0" name="tbl_log_vacaciones" nillable="true" type="tns:ArrayOftbl_log_vacaciones" />
      <xs:element minOccurs="0" name="tbl_roles" nillable="true" type="tns:ArrayOftbl_roles" />
      <xs:element minOccurs="0" name="tbl_vacaciones" nillable="true" type="tns:ArrayOftbl_vacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
  <xs:complexType name="ArrayOftbl_calendario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_calendario" nillable="true" type="tns:tbl_calendario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_calendario" nillable="true" type="tns:ArrayOftbl_calendario" />
  <xs:complexType name="tbl_calendario">
    <xs:sequence>
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="talento_humano_empleado" type="xs:int" />
      <xs:element minOccurs="0" name="talento_humano_jefe" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_tipo_dia" nillable="true" type="tns:tbl_tipo_dia" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
      <xs:element minOccurs="0" name="tbl_usuarios1" nillable="true" type="tns:tbl_usuarios" />
      <xs:element minOccurs="0" name="tipo_dia_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_calendario" nillable="true" type="tns:tbl_calendario" />
  <xs:complexType name="tbl_tipo_dia">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_calendario" nillable="true" type="tns:ArrayOftbl_calendario" />
      <xs:element minOccurs="0" name="tipo_dia_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_tipo_dia" nillable="true" type="tns:tbl_tipo_dia" />
  <xs:complexType name="ArrayOftbl_departamento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_departamento" nillable="true" type="tns:tbl_departamento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_departamento" nillable="true" type="tns:ArrayOftbl_departamento" />
  <xs:complexType name="tbl_departamento">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="departamentoid" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tbl_jerarquia" nillable="true" type="tns:ArrayOftbl_jerarquia" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:ArrayOftbl_usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_departamento" nillable="true" type="tns:tbl_departamento" />
  <xs:complexType name="ArrayOftbl_jerarquia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_jerarquia" nillable="true" type="tns:tbl_jerarquia" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_jerarquia" nillable="true" type="tns:ArrayOftbl_jerarquia" />
  <xs:complexType name="tbl_jerarquia">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamentoid" type="xs:int" />
      <xs:element minOccurs="0" name="jefe_talentohumano" type="xs:int" />
      <xs:element minOccurs="0" name="jerarquiaid" type="xs:int" />
      <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_departamento" nillable="true" type="tns:tbl_departamento" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
      <xs:element minOccurs="0" name="tbl_usuarios1" nillable="true" type="tns:tbl_usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_jerarquia" nillable="true" type="tns:tbl_jerarquia" />
  <xs:complexType name="ArrayOftbl_log_vacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_log_vacaciones" nillable="true" type="tns:tbl_log_vacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_log_vacaciones" nillable="true" type="tns:ArrayOftbl_log_vacaciones" />
  <xs:complexType name="tbl_log_vacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="estatus_actual" type="xs:int" />
      <xs:element minOccurs="0" name="estatus_anterior" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_modificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="logid" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_estatus" nillable="true" type="tns:tbl_estatus" />
      <xs:element minOccurs="0" name="tbl_estatus1" nillable="true" type="tns:tbl_estatus" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
      <xs:element minOccurs="0" name="tbl_vacaciones" nillable="true" type="tns:tbl_vacaciones" />
      <xs:element minOccurs="0" name="th_modifico" type="xs:int" />
      <xs:element minOccurs="0" name="vacacionesid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_log_vacaciones" nillable="true" type="tns:tbl_log_vacaciones" />
  <xs:complexType name="tbl_estatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estatusid" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_log_vacaciones" nillable="true" type="tns:ArrayOftbl_log_vacaciones" />
      <xs:element minOccurs="0" name="tbl_log_vacaciones1" nillable="true" type="tns:ArrayOftbl_log_vacaciones" />
      <xs:element minOccurs="0" name="tbl_vacaciones" nillable="true" type="tns:ArrayOftbl_vacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_estatus" nillable="true" type="tns:tbl_estatus" />
  <xs:complexType name="ArrayOftbl_vacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl_vacaciones" nillable="true" type="tns:tbl_vacaciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftbl_vacaciones" nillable="true" type="tns:ArrayOftbl_vacaciones" />
  <xs:complexType name="tbl_vacaciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="dias_solicitados" type="xs:int" />
      <xs:element minOccurs="0" name="estatusid" type="xs:int" />
      <xs:element minOccurs="0" name="fecha_de_aprobacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_entrada" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_salida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_solicitud" type="xs:int" />
      <xs:element minOccurs="0" name="talento_humano" type="xs:int" />
      <xs:element minOccurs="0" name="tbl_estatus" nillable="true" type="tns:tbl_estatus" />
      <xs:element minOccurs="0" name="tbl_log_vacaciones" nillable="true" type="tns:ArrayOftbl_log_vacaciones" />
      <xs:element minOccurs="0" name="tbl_usuarios" nillable="true" type="tns:tbl_usuarios" />
      <xs:element minOccurs="0" name="vacacionesid" type="xs:int" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tbl_vacaciones" nillable="true" type="tns:tbl_vacaciones" />
</xs:schema>